
 .wrap > .container {
	 padding: 70px 15px 20px !important;
 }

.adjuntar_imagen{ 
	font-weight:bold; 
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	height:30px;
	line-height: 27px;
	background:#f2f2f2;
	color:green;
	border:1px solid green;
	cursor: pointer;
	width:146px;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px;
	float:left; 
	margin-top:4px;
}

.imagen_miniatura {
	margin-bottom: 15px;
	float: left;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	list-style: none;
	color: #EEE;
	font-size: 14px;
	line-height: 1.42857143;
	min-height: 196px;
}

.imagen_miniatura.dragElem {
  opacity: 0.4;
}

.imagen_miniatura.over {
 
  border-left: 4px solid red;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Antiguos browser */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.imagen_miniatura:hover{ text-decoration:underline; color:#039;}

.imagen_miniatura:first-child .imagen_miniatura_lnk
{
		border: 3px solid #58d545;
}

.imagen_miniatura:first-child .no_color
{
		border: 3px solid #000 !important;
}

.imagen_miniatura_lnk
{ 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid #000;
	border-radius: 3px;
	display: block;
	overflow: hidden;
	position: relative;
	float: left;
	color: #ce4844;
	text-decoration: none;
	box-sizing: border-box;
	list-style: none;
}


.imagen_style{ 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: -webkit-transform 0.15s ease 0s;
	-moz-transition: -moz-transform 0.15s ease 0s;
	-o-transition: -o-transform 0.15s ease 0s;
	transition: transform 0.15s ease 0s;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	width: 100%;
	display: block;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #ce4844;
	list-style: none;
	font-size: 14px;
	line-height: 1.42857143;
	min-width: 254px;
	max-width: 254px;
	min-height: 165px;
	max-height: 165px;
	
	}
.imagen_style img { width:100px; height:100px; border:0px solid;}

.ul_imagen{
	border: 1px solid #bdbec3;
	padding-top: 35px;
	clear: both;
	content: " ";
	display: table;
	margin-bottom: 10px;
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 0;
	list-style: none;
	box-sizing: border-box;
	color: #EEE;
}


/*Usado para crear un div que oculte todos los demás.
Será un div en negro que ocupará toda la ventana, donde luego podremos montar la imagen.
*/
.imagen_backdrop
{
	/*Bordes para los distintos navegadores.*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	opacity: 0.96;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1040;
	background-color: #000;
}

.div_imagen_centrada
{
	opacity: 1;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	text-align: left;
}


.imagen_centrada_vertical
{
	transform: translate3d(0px, 0px, 0px);
	
	backface-visibility: hidden;
	position: absolute;
	padding: 0 5px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 100%;
}

/*Necesario para forzar centrar la imagen en el eje vertical.*/
.imagen_centrada_vertical::before
{
	content: "";
	display: inline-block;
	height: 50%;
	width: 1px;
	margin-right: -1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

.imagen_centrada_vertical img
{
	transform: scale3d(1, 1, 1) !important;
	opacity: 1;

	/*Posiciones para los distintos navegadores.*/
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	
	/*Visibilidad para los distintos navegadores.*/
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transform: scale3d(0.5, 0.5, 0.5);
	transform: scale3d(0.5, 0.5, 0.5);
	
	/*Caracteristicas de la imagen*/
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
	width: auto !important;
	height: auto !important;
	border: 0;
}

.div_herramientas_imagen
{
	color: black;	
	padding-right: 5px;
}

.herramienta_imagen
{
	float:right;
	margin-left:6px; 
	margin-top:5px;
}
