html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.adjuntar_imagen{ 
	font-weight:bold; 
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	height:30px;
	line-height: 27px;
	background:#f2f2f2;
	color:green;
	border:1px solid green;
	cursor: pointer;
	width:146px;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px;
	float:left; 
	margin-top:4px;
}

.imagen_miniatura {
	margin-bottom: 15px;
	width: 25%;
	float: left;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	list-style: none;
	color: #EEE;
	font-size: 14px;
	line-height: 1.42857143;	
}
.imagen_miniatura:hover{ text-decoration:underline; color:#039;}

.imagen_miniatura a
{ 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid #000;
	border-radius: 3px;
	display: block;
	overflow: hidden;
	position: relative;
	float: left;
	color: #ce4844;
	text-decoration: none;
	box-sizing: border-box;
	list-style: none;
}

.imagen_style{ 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: -webkit-transform 0.15s ease 0s;
	-moz-transition: -moz-transform 0.15s ease 0s;
	-o-transition: -o-transform 0.15s ease 0s;
	transition: transform 0.15s ease 0s;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	width: 100%;
	display: block;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #ce4844;
	list-style: none;
	font-size: 14px;
	line-height: 1.42857143;
	min-width: 256px;
	max-width: 256px;
	min-height: 165px;
	max-height: 165px;
	
	}
.imagen_style img { width:100px; height:100px; border:0px solid;}

.ul_imagen{
	border: 1px solid #bdbec3;
	padding-top: 15px;
	clear: both;
	content: " ";
	display: table;
	margin-bottom: 0;
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 0;
	list-style: none;
	box-sizing: border-box;
	color: #EEE;
}

